body {
    background: #ffc1e5;
    font-family: "Poppins", sans-serif;
}

#sidebar {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* viewport height: full satu layar*/
    width: 300px;
    z-index: 100;
    overflow: hidden;
    transition: transform .7s ease-out;
}

#sidebar .sidebar-brand {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    color: #000;
    text-decoration: none;
    display: block;
}

#sidebar .sidebar-nav {
    list-style: none;
}

#sidebar .sidebar-header {
    font-size: 16px;
    color: #fff;
}

#sidebar .sidebar-item {
    margin-top: 40px;
    padding: 20px 0px;
}

#sidebar .sidebar-item .sidebar-link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

#sidebar li.sidebar-item:hover {
    background: #ff0090;
    color: #fff;
    cursor: pointer;
    margin-left: -30px;
    width: 300px;
    margin-right: 20px;
}

#main {
    padding-left: 20px;
    margin-left: 300px;
    transition: margin-left .7s ease-out;
}

#sidebar.hidden {
    transform: translate(-300px, 0);
}

#main.full-width {
    margin-left: 0;
}

.statistik {
    margin-top: 10px;
}

.wrapper-statistik {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper-statistik .jumlah_customer,
.produk,
.transactions {
    background: rgb(255, 255, 255);
    width: 350px;
    height: 110px;
    padding: 25px;
    border-radius: 10px;
    margin-right: 10px;
}

.wrapper-statistik h5 {
    line-height: 0px;
    margin-top: 45px;
    font-size: 42px;
    font-weight: bold;
}

.wrapper-statistik h3 {
    line-height: 0px;
    font-size: 18px;
    margin-top: -50px;
    color: rgb(133, 133, 133);
    font-weight: lighter;
}

table {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 30px;
    background: #fff;
    margin-top: 20px;
    margin-left: -8px;
}

th,
td {
    text-align: left;
    padding: 20px;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

a.tambah {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    background: blue;
    font-size: 16px;
}


a.edit {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    background: green;
    font-size: 18px;
}

a.hapus {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    background: red;
    font-size: 18px;
}

a.verif {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    background: #4CAF50;
    font-size: 18px;
}

a.reject {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    background: red;
    font-size: 18px;
}

a.kembali {
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    background: gray;
}

.box {
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    margin-right: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 21px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

.detail-transaksi {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    background: #FFFFFF;
    display: flex;
}

.detail-transaksi h3 {
    font-size: 21px;
    line-height: 50px;
}

.detail-transaksi .transaksi {
    margin-left: 100px;
}

.detail-transaksi .transaksi button.proses {
    padding: 15px;
    background: yellow;
    color: #000000;
    border: none;
    border-radius: 10px;
}

.detail-transaksi .transaksi button.dikirim {
    padding: 15px;
    background: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

.detail-transaksi .transaksi button.ditolak {
    padding: 15px;
    background: red;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

button {
    background: #4CAF50;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.sub-navbar {
    width: 66.6%;
    display: flex;
    justify-content: center;
}

.navbar-wrapper .logo {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    color: #000000;
    align-items: center;
    text-decoration: none;
}

.navbar-wrapper .logo span {
    color: #FF5F5F;
}
.navbar-wrapper .menu a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.navbar-wrapper .menu a:hover {
    text-decoration: none;
    color: #FF5F5F;
}